:host {
  --template-columns: 1fr;

  @include kul-scrollbar;
  display: block;
  height: 100%;
  width: 100%;
}

@media (min-width: 768px) {
  :host {
    --template-columns: 1fr 1fr;
  }
}

kul-compare {
  margin: auto;
}
