.extra-context {
  & {
    display: grid;
    grid-template-rows: 1fr auto;
    overflow: auto;
  }

  &__options {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: repeat(2, 50%);
  }

  &__list {
    display: grid;
    overflow: auto;
  }
}
