.options {
  &__wrapper {
    overflow: hidden;
    position: relative;
  }

  &__cover {
    @include kul-fade-in(block);
    display: block;
    height: 100%;
    object-fit: cover;
    width: 100%;
  }

  &__placeholder {
    box-sizing: border-box;
    opacity: 0.375;
    padding: 20%;
  }

  &__blocker {
    & {
      align-content: center;
      background: rgba(var(--kul-background-color-rgb), 0.775);
      box-sizing: border-box;
      cursor: pointer;
      display: grid;
      grid-template-rows: 50% auto;
      height: 100%;
      left: 0;
      opacity: 0;
      padding: 20%;
      position: absolute;
      top: 0;
      transition: opacity var(--kul_messenger_transition);
      width: 100%;
    }

    &:hover {
      opacity: 1;
    }

    &--active {
      opacity: 0.875;
    }
  }

  &__blocker-label {
    font-size: 0.8em;
    letter-spacing: 1px;
    overflow: hidden;
    padding-top: 12px;
    text-align: center;
    text-overflow: ellipsis;
    text-transform: uppercase;
  }

  &__label {
    font-size: 0.8em;
    letter-spacing: var(--kul_messenger_letter_spacing);
    margin-left: 8px;
    overflow: hidden;
    text-align: center;
    text-overflow: ellipsis;
    text-transform: uppercase;
  }

  &__info {
    cursor: help;
    margin: 0;
  }

  &__name {
    align-items: center;
    background: var(--kul_messenger_name_background_color);
    bottom: 0;
    box-sizing: border-box;
    display: flex;
    overflow: hidden;
    padding: var(--kul_messenger_active_options_name_padding);
    position: absolute;
    width: 100%;
  }
}
