:host {
  /**
   * @prop --kul-messenger-backdrop-filter: Sets the backdrop filter of the messenger.
   * Defaults to blur(3.5px).
   */
  --kul_messenger_backdrop_filter: var(
    --kul-messenger-backdrop-filter,
    blur(3.5px)
  );
  /**
  * @prop --kul-messenger-background-color: Sets the background color.
  * Defaults to var(--kul-background-color).
  */
  --kul_messenger_background_color: var(
    --kul-messenger-background-color,
    var(--kul-background-color)
  );
  /**
  * @prop --kul-messenger-font-size: Sets the font size of the component.
  * Defaults to var(--kul-font-size).
  */
  --kul_messenger_font_size: var(
    --kul-messenger-font-size,
    var(--kul-font-size)
  );
  /**
  * @prop --kul-messenger-text-color: Sets the color of text.
  * Defaults to var(--kul-text-color).
  */
  --kul_messenger_text_color: var(
    --kul-messenger-text-color,
    var(--kul-text-color)
  );

  box-sizing: border-box;
  backdrop-filter: var(--kul_messenger_backdrop_filter);
  background-color: var(--kul_messenger_background_color);
  color: var(--kul_messenger_text_color);
  display: block;
  font-size: var(--kul_messenger_font_size);
  height: 100%;
  width: 100%;
}

#kul-component {
  height: 100%;
  width: 100%;
}

.messenger {
  & {
    display: grid;
    grid-template-columns: 15% 70% 15%;
    position: relative;
    height: 100%;
    width: 100%;
  }

  &__left {
    display: grid;
    grid-template-rows: auto 1fr;
    height: 100%;
    overflow: auto;
  }

  &__center {
    display: grid;
    grid-template-rows: auto 1fr;
    height: 100%;
  }

  &__right {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    height: 100%;
  }

  &__biography {
    overflow: auto;
  }

  &__chat {
    --kul-chat-padding: 16px 8px 0 8px;
    --kul-chat-buttons-padding: 8px 0 0 0;
  }
}

.selection-grid {
  display: grid;
  height: 100%;
  width: 100%;
  grid-template-columns: repeat(4, 1fr);

  &__portrait {
    & {
      --kul_messenger_name_background_color: rgba(
        var(--kul-background-color-rgb),
        0.375
      );
      --kul_messenger_portrait_foredrop_color: rgba(
        var(--kul-background-color-rgb),
        0.275
      );

      cursor: pointer;
      position: relative;
    }

    &:hover {
      --kul_messenger_name_background_color: rgba(
        var(--kul-background-color-rgb),
        0.775
      );
      --kul_messenger_portrait_foredrop_color: rgba(
        var(--kul-background-color-rgb),
        0
      );
    }

    &:after {
      background: var(--kul_messenger_portrait_foredrop_color);
      content: '';
      height: 100%;
      left: 0;
      pointer-events: none;
      position: absolute;
      top: 0;
      transition: background-color 125ms ease;
      width: 100%;
    }
  }

  &__name {
    & {
      align-items: center;
      backdrop-filter: blur(5px);
      background-color: var(--kul_messenger_name_background_color);
      bottom: 0;
      display: flex;
      height: 50px;
      left: 0;
      position: absolute;
      transition: background-color 125ms ease;
      width: 100%;
    }
  }

  &__label {
    letter-spacing: 5px;
    overflow: hidden;
    text-align: center;
    text-overflow: ellipsis;
    text-transform: uppercase;
    width: 100%;
  }
}
