:host {
  /**
    * @prop --kul-compare-grid-template: Sets the grid's layout.
    * Defaults to 1fr auto.
    */
  --kul_compare_grid_template: var(--kul-compare-grid-template, 1fr auto);
  /**
  * @prop --kul-compare-change-view-background-color: Sets the background color of the bottom bar.
  * Defaults to var(--kul-title-background-color).
  */
  --kul_compare_change_view_background_color: var(
    --kul-compare-change-view-background-color,
    var(--kul-title-background-color)
  );
  /**
  * @prop --kul-compare-change-view-padding: Sets the padding of the bottom bar.
  * Defaults to 8px.
  */
  --kul_compare_change_view_padding: var(
    --kul-compare-change-view-padding,
    8px
  );
  /**
  * @prop --kul-compare-slider-width: Sets the width of the overlay slider.
  * Defaults to 3px.
  */
  --kul_compare_slider_width: var(--kul-compare-slider-width, 3px);
  /**
  * @prop --kul-compare-slider-color: Sets the color of the overlay slider.
  * Defaults to var(--kul-title-background-color).
  */
  --kul_compare_slider_color: var(
    --kul-compare-slider-color,
    var(--kul-title-background-color)
  );

  display: block;
}

#kul-component {
  height: 100%;
  width: 100%;
}

.compare {
  height: 100%;
  width: 100%;
}

.grid {
  display: grid;
  grid-template-rows: var(--kul_compare_grid_template);
  height: 100%;
  position: relative;
  width: 100%;
}

.change-view {
  background: var(--kul_compare_change_view_background_color);
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  padding: var(--kul_compare_change_view_padding);
  width: 100%;
}

.view {
  & {
    height: 100%;
    position: relative;
    width: 100%;
  }

  &--overlay {
    & > :first-child {
      height: 100%;
      position: relative;
      width: 100%;
    }

    & > :last-child {
      & {
        clip-path: inset(0 var(--kul_compare_overlay_width, 50%) 0 0);
        height: 100%;
        left: 0;
        overflow: hidden;
        position: absolute;
        top: 0;
        width: 100%;
      }

      &:after {
        background-color: var(--kul_compare_slider_color);
        content: "";
        height: 100%;
        pointer-events: none;
        position: absolute;
        right: var(--kul_compare_overlay_width, 50%);
        top: 0;
        width: var(--kul_compare_slider_width);
      }
    }
  }

  &--split {
    & {
      display: grid;
      grid-template-columns: 50% 50%;
      overflow: hidden;
    }
  }

  &__panel {
    background: var(--kul_compare_change_view_background_color);
    bottom: 0;
    height: max-content;
    max-height: 50%;
    overflow: auto;
    position: absolute;
    width: 50%;
    z-index: 2;

    &--left {
      left: 0;
    }

    &--right {
      right: 0;
    }
  }

  &__slider {
    & {
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
      z-index: 1;
    }

    &__input {
      & {
        appearance: none;
        background: transparent;
        cursor: grab;
        height: 100%;
        margin: 0;
        pointer-events: all;
        width: 100%;
        z-index: 1;
      }

      &::-webkit-slider-thumb {
        appearance: none;
        background-color: var(--kul_compare_slider_color);
        cursor: ew-resize;
        height: 100%;
        margin: 0;
        width: 10px;
      }

      &::-moz-slider-thumb {
        appearance: none;
        background-color: var(--kul_compare_slider_color);
        cursor: ew-resize;
        height: 100%;
        margin: 0;
        width: 10px;
      }
    }
  }
}
