:host {
  /**
       * @prop --kul-imageviewer-display: Sets the display property of the host element.
       * Defaults to block.
       */
  --kul_imageviewer_display: var(--kul-imageviewer-display, block);
  /**
       * @prop --kul-imageviewer-height: Sets the height of the host element.
       * Defaults to 100%.
       */
  --kul_imageviewer_height: var(--kul-imageviewer-height, 100%);
  /**
       * @prop --kul-imageviewer-width: Sets the width of the host element.
       * Defaults to 100%.
       */
  --kul_imageviewer_width: var(--kul-imageviewer-width, 100%);
  /**
       * @prop --kul-imageviewer-component-height: Sets the height of the #kul-component element.
       * Defaults to 100%.
       */
  --kul_imageviewer_component_height: var(
    --kul-imageviewer-component-height,
    100%
  );
  /**
       * @prop --kul-imageviewer-component-width: Sets the width of the #kul-component element.
       * Defaults to 100%.
       */
  --kul_imageviewer_component_width: var(
    --kul-imageviewer-component-width,
    100%
  );
  /**
       * @prop --kul-imageviewer-viewer-height: Sets the height of the .imageviewer element.
       * Defaults to 100%.
       */
  --kul_imageviewer_viewer_height: var(--kul-imageviewer-viewer-height, 100%);
  /**
       * @prop --kul-imageviewer-viewer-width: Sets the width of the .imageviewer element.
       * Defaults to 100%.
       */
  --kul_imageviewer_viewer_width: var(--kul-imageviewer-viewer-width, 100%);
  /**
       * @prop --kul-imageviewer-main-grid-border-width: Sets the border width of .main-grid.
       * Defaults to 2px.
       */
  --kul_imageviewer_main_grid_border_width: var(
    --kul-imageviewer-main-grid-border-width,
    2px
  );
  /**
       * @prop --kul-imageviewer-main-grid-border-style: Sets the border style of .main-grid.
       * Defaults to solid.
       */
  --kul_imageviewer_main_grid_border_style: var(
    --kul-imageviewer-main-grid-border-style,
    solid
  );
  /**
       * @prop --kul-imageviewer-main-grid-border-color: Sets the border color of .main-grid.
       * Defaults to var(--kul-border-color).
       */
  --kul_imageviewer_main_grid_border_color: var(
    --kul-imageviewer-main-grid-border-color,
    var(--kul-border-color)
  );
  /**
       * @prop --kul-imageviewer-main-grid-box-sizing: Sets the box-sizing of .main-grid.
       * Defaults to border-box.
       */
  --kul_imageviewer_main_grid_box_sizing: var(
    --kul-imageviewer-main-grid-box-sizing,
    border-box
  );
  /**
       * @prop --kul-imageviewer-main-grid-display: Sets the display property of .main-grid.
       * Defaults to grid.
       */
  --kul_imageviewer_main_grid_display: var(
    --kul-imageviewer-main-grid-display,
    grid
  );
  /**
       * @prop --kul-imageviewer-main-grid-template-columns: Sets the grid-template-columns of .main-grid.
       * Defaults to 100% 0.
       */
  --kul_imageviewer_main_grid_template_columns: var(
    --kul-imageviewer-main-grid-template-columns,
    100% 0
  );
  /**
       * @prop --kul-imageviewer-main-grid-height: Sets the height of .main-grid.
       * Defaults to 100%.
       */
  --kul_imageviewer_main_grid_height: var(
    --kul-imageviewer-main-grid-height,
    100%
  );
  /**
       * @prop --kul-imageviewer-main-grid-width: Sets the width of .main-grid.
       * Defaults to 100%.
       */
  --kul_imageviewer_main_grid_width: var(
    --kul-imageviewer-main-grid-width,
    100%
  );
  /**
       * @prop --kul-imageviewer-main-grid-has-selection-template-columns: Sets the grid-template-columns when .main-grid has selection.
       * Defaults to 30% 70%.
       */
  --kul_imageviewer_main_grid_has_selection_template_columns: var(
    --kul-imageviewer-main-grid-has-selection-template-columns,
    30% 70%
  );
  /**
       * @prop --kul-imageviewer-navigation-grid-display: Sets the display property of .navigation-grid.
       * Defaults to grid.
       */
  --kul_imageviewer_navigation_grid_display: var(
    --kul-imageviewer-navigation-grid-display,
    grid
  );
  /**
       * @prop --kul-imageviewer-navigation-grid-template-rows: Sets the grid-template-rows of .navigation-grid.
       * Defaults to auto auto 1fr.
       */
  --kul_imageviewer_navigation_grid_template_rows: var(
    --kul-imageviewer-navigation-grid-template-rows,
    auto auto 1fr
  );
  /**
       * @prop --kul-imageviewer-navigation-grid-height: Sets the height of .navigation-grid.
       * Defaults to 100%.
       */
  --kul_imageviewer_navigation_grid_height: var(
    --kul-imageviewer-navigation-grid-height,
    100%
  );
  /**
       * @prop --kul-imageviewer-navigation-grid-width: Sets the width of .navigation-grid.
       * Defaults to 100%.
       */
  --kul_imageviewer_navigation_grid_width: var(
    --kul-imageviewer-navigation-grid-width,
    100%
  );
  /**
       * @prop --kul-imageviewer-navigation-grid-textfield-padding: Sets the padding of .navigation-grid__textfield.
       * Defaults to 0.
       */
  --kul_imageviewer_navigation_grid_textfield_padding: var(
    --kul-imageviewer-navigation-grid-textfield-padding,
    0
  );
  /* Variables for .navigation-grid__button */
  /**
       * @prop --kul-imageviewer-navigation-grid-button-padding-bottom: Sets the bottom padding of .navigation-grid__button.
       * Defaults to 12px.
       */
  --kul_imageviewer_navigation_grid_button_padding_bottom: var(
    --kul-imageviewer-navigation-grid-button-padding-bottom,
    12px
  );
  /* Variables for .navigation-grid__masonry */
  /**
       * @prop --kul-imageviewer-navigation-grid-masonry-overflow: Sets the overflow of .navigation-grid__masonry.
       * Defaults to auto.
       */
  --kul_imageviewer_navigation_grid_masonry_overflow: var(
    --kul-imageviewer-navigation-grid-masonry-overflow,
    auto
  );
  /**
       * @prop --kul-imageviewer-navigation-grid-masonry-position: Sets the position of .navigation-grid__masonry.
       * Defaults to relative.
       */
  --kul_imageviewer_navigation_grid_masonry_position: var(
    --kul-imageviewer-navigation-grid-masonry-position,
    relative
  );
  /* Variables for .details-grid */
  /**
       * @prop --kul-imageviewer-details-grid-border-left-width: Sets the left border width of .details-grid.
       * Defaults to 2px.
       */
  --kul_imageviewer_details_grid_border_left_width: var(
    --kul-imageviewer-details-grid-border-left-width,
    2px
  );
  /**
       * @prop --kul-imageviewer-details-grid-border-left-style: Sets the left border style of .details-grid.
       * Defaults to solid.
       */
  --kul_imageviewer_details_grid_border_left_style: var(
    --kul-imageviewer-details-grid-border-left-style,
    solid
  );
  /**
       * @prop --kul-imageviewer-details-grid-border-left-color: Sets the left border color of .details-grid.
       * Defaults to var(--kul-border-color).
       */
  --kul_imageviewer_details_grid_border_left_color: var(
    --kul-imageviewer-details-grid-border-left-color,
    var(--kul-border-color)
  );
  /**
       * @prop --kul-imageviewer-details-grid-box-sizing: Sets the box-sizing of .details-grid.
       * Defaults to border-box.
       */
  --kul_imageviewer_details_grid_box_sizing: var(
    --kul-imageviewer-details-grid-box-sizing,
    border-box
  );
  /**
       * @prop --kul-imageviewer-details-grid-display: Sets the display property of .details-grid.
       * Defaults to none.
       */
  --kul_imageviewer_details_grid_display: var(
    --kul-imageviewer-details-grid-display,
    none
  );
  /**
       * @prop --kul-imageviewer-details-grid-template-areas: Sets the grid-template-areas of .details-grid.
       * Defaults to 'image image' 'actions actions' 'tree settings'.
       */
  --kul_imageviewer_details_grid_template_areas: var(
    --kul-imageviewer-details-grid-template-areas,
    "image image" "actions actions" "tree settings"
  );
  /**
       * @prop --kul-imageviewer-details-grid-template-columns: Sets the grid-template-columns of .details-grid.
       * Defaults to 40% 1fr.
       */
  --kul_imageviewer_details_grid_template_columns: var(
    --kul-imageviewer-details-grid-template-columns,
    40% 1fr
  );
  /**
       * @prop --kul-imageviewer-details-grid-template-rows: Sets the grid-template-rows of .details-grid.
       * Defaults to 60% auto 1fr.
       */
  --kul_imageviewer_details_grid_template_rows: var(
    --kul-imageviewer-details-grid-template-rows,
    60% auto 1fr
  );
  /**
       * @prop --kul-imageviewer-details-grid-height: Sets the height of .details-grid.
       * Defaults to 100%.
       */
  --kul_imageviewer_details_grid_height: var(
    --kul-imageviewer-details-grid-height,
    100%
  );
  /**
       * @prop --kul-imageviewer-details-grid-width: Sets the width of .details-grid.
       * Defaults to 100%.
       */
  --kul_imageviewer_details_grid_width: var(
    --kul-imageviewer-details-grid-width,
    100%
  );

  /* Variables for .details-grid__actions */
  /**
       * @prop --kul-imageviewer-details-grid-actions-border-bottom-width: Sets the bottom border width of .details-grid__actions.
       * Defaults to 2px.
       */
  --kul_imageviewer_details_grid_actions_border_bottom_width: var(
    --kul-imageviewer-details-grid-actions-border-bottom-width,
    2px
  );
  /**
       * @prop --kul-imageviewer-details-grid-actions-border-bottom-style: Sets the bottom border style of .details-grid__actions.
       * Defaults to solid.
       */
  --kul_imageviewer_details_grid_actions_border_bottom_style: var(
    --kul-imageviewer-details-grid-actions-border-bottom-style,
    solid
  );
  /**
       * @prop --kul-imageviewer-details-grid-actions-border-bottom-color: Sets the bottom border color of .details-grid__actions.
       * Defaults to var(--kul-border-color).
       */
  --kul_imageviewer_details_grid_actions_border_bottom_color: var(
    --kul-imageviewer-details-grid-actions-border-bottom-color,
    var(--kul-border-color)
  );
  /**
       * @prop --kul-imageviewer-details-grid-actions-box-sizing: Sets the box-sizing of .details-grid__actions.
       * Defaults to border-box.
       */
  --kul_imageviewer_details_grid_actions_box_sizing: var(
    --kul-imageviewer-details-grid-actions-box-sizing,
    border-box
  );
  /**
       * @prop --kul-imageviewer-details-grid-actions-display: Sets the display property of .details-grid__actions.
       * Defaults to flex.
       */
  --kul_imageviewer_details_grid_actions_display: var(
    --kul-imageviewer-details-grid-actions-display,
    flex
  );
  /**
       * @prop --kul-imageviewer-details-grid-actions-grid-area: Sets the grid-area of .details-grid__actions.
       * Defaults to actions.
       */
  --kul_imageviewer_details_grid_actions_grid_area: var(
    --kul-imageviewer-details-grid-actions-grid-area,
    actions
  );
  /**
       * @prop --kul-imageviewer-details-grid-image-border-bottom-width: Sets the bottom border width of .details-grid__image.
       * Defaults to 2px.
       */
  --kul_imageviewer_details_grid_canvas_border_bottom_width: var(
    --kul-imageviewer-details-grid-image-border-bottom-width,
    2px
  );
  /**
       * @prop --kul-imageviewer-details-grid-image-border-bottom-style: Sets the bottom border style of .details-grid__image.
       * Defaults to solid.
       */
  --kul_imageviewer_details_grid_canvas_border_bottom_style: var(
    --kul-imageviewer-details-grid-image-border-bottom-style,
    solid
  );
  /**
       * @prop --kul-imageviewer-details-grid-image-border-bottom-color: Sets the bottom border color of .details-grid__image.
       * Defaults to var(--kul-border-color).
       */
  --kul_imageviewer_details_grid_canvas_border_bottom_color: var(
    --kul-imageviewer-details-grid-image-border-bottom-color,
    var(--kul-border-color)
  );
  /**
       * @prop --kul-imageviewer-details-grid-image-box-sizing: Sets the box-sizing of .details-grid__image.
       * Defaults to border-box.
       */
  --kul_imageviewer_details_grid_canvas_box_sizing: var(
    --kul-imageviewer-details-grid-image-box-sizing,
    border-box
  );
  /**
       * @prop --kul-imageviewer-details-grid-image-grid-area: Sets the grid-area of .details-grid__image.
       * Defaults to image.
       */
  --kul_imageviewer_details_grid_canvas_grid_area: var(
    --kul-imageviewer-details-grid-image-grid-area,
    image
  );

  /* Variables for .details-grid__tree */
  /**
       * @prop --kul-imageviewer-details-grid-tree-border-right-width: Sets the right border width of .details-grid__tree.
       * Defaults to 2px.
       */
  --kul_imageviewer_details_grid_tree_border_right_width: var(
    --kul-imageviewer-details-grid-tree-border-right-width,
    2px
  );
  /**
       * @prop --kul-imageviewer-details-grid-tree-border-right-style: Sets the right border style of .details-grid__tree.
       * Defaults to solid.
       */
  --kul_imageviewer_details_grid_tree_border_right_style: var(
    --kul-imageviewer-details-grid-tree-border-right-style,
    solid
  );
  /**
       * @prop --kul-imageviewer-details-grid-tree-border-right-color: Sets the right border color of .details-grid__tree.
       * Defaults to var(--kul-border-color).
       */
  --kul_imageviewer_details_grid_tree_border_right_color: var(
    --kul-imageviewer-details-grid-tree-border-right-color,
    var(--kul-border-color)
  );
  /**
       * @prop --kul-imageviewer-details-grid-tree-box-sizing: Sets the box-sizing of .details-grid__tree.
       * Defaults to border-box.
       */
  --kul_imageviewer_details_grid_tree_box_sizing: var(
    --kul-imageviewer-details-grid-tree-box-sizing,
    border-box
  );
  /**
       * @prop --kul-imageviewer-details-grid-tree-grid-area: Sets the grid-area of .details-grid__tree.
       * Defaults to tree.
       */
  --kul_imageviewer_details_grid_tree_grid_area: var(
    --kul-imageviewer-details-grid-tree-grid-area,
    tree
  );

  @include kul-scrollbar;
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
  display: var(--kul_imageviewer_display);
  height: var(--kul_imageviewer_height);
  width: var(--kul_imageviewer_width);
}

#kul-component {
  height: var(--kul_imageviewer_component_height);
  width: var(--kul_imageviewer_component_width);
}

.imageviewer {
  height: var(--kul_imageviewer_viewer_height);
  width: var(--kul_imageviewer_viewer_width);
}

.main-grid {
  & {
    border: var(--kul_imageviewer_main_grid_border_width)
      var(--kul_imageviewer_main_grid_border_style)
      var(--kul_imageviewer_main_grid_border_color);
    box-sizing: var(--kul_imageviewer_main_grid_box_sizing);
    display: var(--kul_imageviewer_main_grid_display);
    grid-template-columns: var(--kul_imageviewer_main_grid_template_columns);
    height: var(--kul_imageviewer_main_grid_height);
    overflow: auto;
    width: var(--kul_imageviewer_main_grid_width);
  }

  &--has-selection {
    & {
      grid-template-columns: var(
        --kul_imageviewer_main_grid_has_selection_template_columns
      );
    }

    .details-grid {
      display: grid;
    }
  }
}

.navigation-grid {
  & {
    display: var(--kul_imageviewer_navigation_grid_display);
    grid-template-rows: var(--kul_imageviewer_navigation_grid_template_rows);
    height: var(--kul_imageviewer_navigation_grid_height);
    overflow: auto;
    width: var(--kul_imageviewer_navigation_grid_width);
  }

  &__textfield {
    padding: var(--kul_imageviewer_navigation_grid_textfield_padding);
  }

  &__button {
    padding-bottom: var(
      --kul_imageviewer_navigation_grid_button_padding_bottom
    );
  }

  &__masonry {
    overflow: var(--kul_imageviewer_navigation_grid_masonry_overflow);
    position: var(--kul_imageviewer_navigation_grid_masonry_position);
  }
}

.details-grid {
  & {
    border-left: var(--kul_imageviewer_details_grid_border_left_width)
      var(--kul_imageviewer_details_grid_border_left_style)
      var(--kul_imageviewer_details_grid_border_left_color);
    box-sizing: var(--kul_imageviewer_details_grid_box_sizing);
    display: var(--kul_imageviewer_details_grid_display);
    grid-template-areas: var(--kul_imageviewer_details_grid_template_areas);
    grid-template-columns: var(--kul_imageviewer_details_grid_template_columns);
    grid-template-rows: var(--kul_imageviewer_details_grid_template_rows);
    height: var(--kul_imageviewer_details_grid_height);
    overflow: auto;
    width: var(--kul_imageviewer_details_grid_width);
  }

  &__actions {
    border-bottom: var(
        --kul_imageviewer_details_grid_actions_border_bottom_width
      )
      var(--kul_imageviewer_details_grid_actions_border_bottom_style)
      var(--kul_imageviewer_details_grid_actions_border_bottom_color);
    box-sizing: var(--kul_imageviewer_details_grid_actions_box_sizing);
    display: var(--kul_imageviewer_details_grid_actions_display);
    grid-area: var(--kul_imageviewer_details_grid_actions_grid_area);
  }

  &__canvas {
    border-bottom: var(
        --kul_imageviewer_details_grid_canvas_border_bottom_width
      )
      var(--kul_imageviewer_details_grid_canvas_border_bottom_style)
      var(--kul_imageviewer_details_grid_canvas_border_bottom_color);
    box-sizing: var(--kul_imageviewer_details_grid_canvas_box_sizing);
  }

  &__preview {
    grid-area: var(--kul_imageviewer_details_grid_canvas_grid_area);
    position: relative;
  }

  &__spinner {
    height: 100%;
    left: 0;
    pointer-events: none;
    position: absolute;
    top: 0;
    width: 100%;
  }

  &__tree {
    border-right: var(--kul_imageviewer_details_grid_tree_border_right_width)
      var(--kul_imageviewer_details_grid_tree_border_right_style)
      var(--kul_imageviewer_details_grid_tree_border_right_color);
    box-sizing: var(--kul_imageviewer_details_grid_tree_box_sizing);
    grid-area: var(--kul_imageviewer_details_grid_tree_grid_area);
    overflow: auto;
  }
}
