:host {
  /**
       * @prop --kul-masonry-button-bottom: Sets the bottom placement of the change view button.
       * Defaults to 16px.
       */
  --kul_masonry_button_bottom: var(--kul-masonry-grid-gap, 16px);
  /**
     * @prop --kul-masonry-button-right: Sets the right placement of the change view button.
     * Defaults to 16px.
     */
  --kul_masonry_button_right: var(--kul-masonry-button-right, 16px);
  /**
       * @prop --kul-masonry-column-size: Sets the dimension of the masonry columns.
       * Defaults to minmax(0px, 1fr).
       */
  --kul_masonry_column_size: var(--kul-masonry-column-size, minmax(0px, 1fr));
  /**
     * @prop --kul-masonry-grid-items-alignment: Sets the alignments of grids' items.
     * Defaults to 8px.
     */
  --kul_masonry_grid_items_alignment: var(
    --kul-masonry-grid-items-alignment,
    start
  );
  /**
     * @prop --kul-masonry-grid-gap: Sets the gaps of the grid.
     * Defaults to 8px.
     */
  --kul_masonry_grid_gap: var(--kul-masonry-grid-gap, 8px);
  /**
     * @prop --kul-masonry-padding: Sets the padding of the grid.
     * Defaults to 12px.
     */
  --kul_masonry_padding: var(--kul-masonry-padding, 12px);
  /**
     * @prop --kul-masonry-selected-border: Sets the border color of selected items.
     * Defaults to var(--kul-primary-color).
     */
  --kul_masonry_selected_border: var(
    --kul-masonry-selected-border,
    var(--kul-primary-color)
  );

  display: block;
  height: 100%;
  width: 100%;
}

:host([kul-selectable]) {
  kul-image {
    & {
      cursor: pointer;
      overflow: hidden;
      transition: filter 0.3 ease;
    }

    &:hover {
      filter: brightness(125%);
    }
  }
}

#kul-component {
  height: 100%;
  width: 100%;
}

.masonry {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: var(--kul_masonry_grid_gap);
  height: 100%;
  padding: var(--kul_masonry_padding);
  width: 100%;
}

.grid {
  & {
    align-items: var(--kul_masonry_grid_items_alignment);
    column-gap: var(--kul_masonry_grid_gap);
    display: grid;
  }

  &--masonry {
    grid-template-columns: repeat(
      var(--kul_masonry_columns),
      var(--kul_masonry_column_size)
    );
  }

  &--waterfall {
    grid-template-columns: 1fr;
  }

  &__column {
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: var(--kul_masonry_grid_gap);
    width: 100%;
  }

  &__change-view {
    bottom: var(--kul_masonry_button_bottom);
    position: absolute;
    right: var(--kul_masonry_button_right);
    z-index: 2;
  }
}

[data-selected='true'] {
  & {
    border-radius: 5px;
    box-shadow: 0 4px 10px var(--kul_masonry_selected_border);
    outline: 2px solid var(--kul_masonry_selected_border);
    outline-offset: 4px;
    position: relative;
    transform: scale(1.05);
    transition:
      transform 0.3s ease,
      box-shadow 0.3s ease,
      outline-offset 0.3s ease;
    z-index: 1;
  }

  &:after {
    border: 4px solid var(--kul_masonry_selected_border);
    border-radius: 8px;
    bottom: -4px;
    content: '';
    left: -4px;
    pointer-events: none;
    position: absolute;
    right: -4px;
    top: -4px;
  }
}
