.debug-layout {
  & {
    display: grid;
    grid-template-rows: auto 1fr auto auto;
    height: 100%;
    width: 100%;
  }

  .switch {
    display: flex;
    justify-content: center;
    padding: 16px;
  }

  .code {
    overflow: auto;
  }
}
