:host {
  display: block;
  height: 100%;
  position: relative;
  width: 100%;
}

#kul-component {
  height: 100%;
  width: 100%;
}

.canvas {
  cursor: none;
  height: 100%;
  margin: auto;
  position: relative;
  width: max-content;

  &__image {
    pointer-events: none;
  }

  &__board,
  &__cursor {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  &__cursor {
    pointer-events: none;
  }
}
