/*-------------------------------------------------*/
/*        C o m p o n e n t   C l a s s e s        */
/*-------------------------------------------------*/
/* $kul-class-danger                               */
/* $kul-class-info                                 */
/* $kul-class-secondary                            */
/* $kul-class-success                              */
/* $kul-class-warning                              */
/*-------------------------------------------------*/

:host(.#{$kul-class-danger}) {
  --kul-chip-primary-color: var(--kul-danger-color);
  --kul-chip-primary-color-rgb: var(--kul-danger-color-rgb);
}

:host(.#{$kul-class-info}) {
  --kul-chip-primary-color: var(--kul-info-color);
  --kul-chip-primary-color-rgb: var(--kul-info-color-rgb);
}

:host(.#{$kul-class-secondary}) {
  --kul-chip-primary-color: var(--kul-secondary-color);
  --kul-chip-primary-color-rgb: var(--kul-secondary-color-rgb);
}

:host(.#{$kul-class-success}) {
  --kul-chip-primary-color: var(--kul-success-color);
  --kul-chip-primary-color-rgb: var(--kul-success-color-rgb);
}

:host(.#{$kul-class-warning}) {
  --kul-chip-primary-color: var(--kul-warning-color);
  --kul-chip-primary-color-rgb: var(--kul-warning-color-rgb);
}
