:host {
  /**
 * @prop --kul-card-backdrop: Sets the backdrop color of the component when visible.
 * Defaults to rgba(0, 0, 0, 0.32).
 */
  --kul_card_backdrop: var(--kul-card-backdrop, rgba(0, 0, 0, 0.32));

  display: block;
  font-size: var(--kul-font-size);
  height: var(--kul_card_height);
  min-height: var(--kul_card_height);
  min-width: var(--kul_card_width);
  outline: none;
  position: relative;
  width: var(--kul_card_width);
}

#kul-component {
  height: 100%;
  width: 100%;
}

.card {
  &--debug {
    & {
      display: grid;
      grid-template-rows: auto 1fr auto auto;
      height: 100%;
      width: 100%;
    }

    &__section-1 {
      display: flex;
      justify-content: center;
      padding: 16px;
    }

    &__section-2 {
      overflow: auto;
    }
  }

  &--keywords {
    & {
      display: grid;
      grid-template-rows: 60% 1fr auto;
      height: 100%;
      width: 100%;
    }
  }

  &--material {
    & {
      -webkit-backdrop-filter: blur(3.5px);
      backdrop-filter: blur(3.5px);
      background-color: rgba(var(--kul-background-color-rgb), 0.4);
      border-radius: 4px;
      box-sizing: border-box;
      box-shadow:
        0 2px 1px -1px rgba(128, 128, 128, 0.1),
        0 1px 1px 0 rgba(128, 128, 128, 0.1),
        0 1px 3px 0 rgba(128, 128, 128, 0.6);
      display: flex;
      flex-direction: column;
      height: 100%;
      overflow: auto;
      position: relative;
      width: 100%;
    }

    kul-button {
      margin-right: 0;
    }

    img {
      object-fit: cover;
    }

    &--has-actions {
      & {
        padding-bottom: 52px;
      }

      .section-2 .sub-2.description {
        padding-bottom: 0;
      }
    }

    .ripple-surface {
      & {
        cursor: pointer;
        height: 100%;
        transition: background-color 175ms ease-in-out;
      }

      &:hover {
        background-color: rgba(var(--kul-primary-color-rgb), 0.075);
      }
    }

    &__section-1 {
      height: 60%;
      width: 100%;
    }

    &__section-2 {
      box-sizing: border-box;
      height: 40%;
      overflow: auto;
      padding: 0.75em 1em;
      width: 100%;

      &__sub-2 {
        &--title {
          & {
            color: var(--kul-text-color);
            overflow: hidden;
            text-align: left;
            text-overflow: ellipsis;
          }

          div {
            font-size: 1.25em;
            font-weight: 500;
            letter-spacing: 0.0125em;
          }
        }
        &--subtitle {
          & {
            opacity: 0.6;
            overflow: hidden;
            text-align: left;
            text-overflow: ellipsis;
          }

          div {
            font-size: 0.875em;
            font-weight: 500;
            letter-spacing: 0.0071428571em;
            line-height: 1.375em;
          }
        }
        &--description {
          & {
            -moz-osx-font-smoothing: grayscale;
            -webkit-font-smoothing: antialiased;
            opacity: 0.6;
            padding-top: 0.75em;
            text-align: left;
            white-space: pre-wrap;
          }

          div {
            font-size: 0.875em;
            font-weight: 400;
            letter-spacing: 0.0178571429em;
            line-height: 1.25em;
          }
        }
      }
    }

    &__section-3 {
      & {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        box-sizing: border-box;
        position: absolute;
        left: 0;
        bottom: 0;
        height: 52px;
        width: 100%;
        text-align: right;
      }

      kul-button {
        margin-left: 0.25em;
      }
    }
  }

  &--upload {
    & {
      display: grid;
      grid-template-rows: 1fr auto;
      height: 100%;
      width: 100%;
    }

    &__section-1 {
      overflow: hidden;
    }
  }
}
