:host {
  /**
     * @prop --kul-typewriter-text-color: Color of the text being typed.
     * Defaults to currentColor.
     */
  --kul-typewriter-text-color: var(
    --kul-typewriter-text-color,
    var(--kul-typewriter-text-color)
  );
  /**
     * @prop --kul-typewriter-cursor-width: Width of the blinking cursor.
     * Defaults to 2px.
     */
  --kul-typewriter-cursor-width: var(--kul-typewriter-cursor-width, 3px);
  /**
     * @prop --kul-typewriter-cursor-color: Color of the blinking cursor.
     * Defaults to the same color as text.
     */
  --kul-typewriter-cursor-color: var(
    --kul-typewriter-cursor-color,
    var(--kul-typewriter-text-color)
  );
  /**
     * @prop --kul-typewriter-font-size: Font size for the text.
     * Defaults to inherit.
     */
  --kul-typewriter-font-size: var(
    --kul-typewriter-font-size,
    var(--kul-font-size)
  );
  /**
     * @prop --kul-typewriter-font-family: Font family for the text.
     * Defaults to inherit.
     */
  --kul-typewriter-font-family: var(
    --kul-typewriter-font-family,
    var(--kul-font-family)
  );

  align-items: center;
  display: inline-flex;
  color: var(--kul-typewriter-text-color);
  font-size: var(--kul-typewriter-font-size);
  font-family: var(--kul-typewriter-font-family);
  overflow: hidden;
}

#kul-component {
  height: 100%;
  width: 100%;
}

.cursor {
  display: inline-block;
  width: var(--kul-typewriter-cursor-width);
  background-color: var(--kul-typewriter-cursor-color);
  margin-left: 2px;
  animation: blink 0.8s infinite;
}

@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}
